/.idea/
/.DS_Store
*.DS_Store
/.htaccess
/index.php
*.log
/wp-admin/
/wp-includes/
/wp-content/index.php
/wp-content/languages
/wp-content/plugins/index.php
/wp-content/themes/index.php
/wp-content/themes/twenty*/
/wp-content/advanced-cache.php
/wp-content/uploads
/wp-config.php
/license.txt
/readme.html
/wp-activate.php
/wp-blog-header.php
/wp-comments-post.php
/wp-config-sample.php
/wp-cron.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
/index.php
/nginx.conf
/wp-content/w3tc-config/
/wp-content/cache/
/wp-content/ai1wm-backups
/wp-content/mu-plugins

# Extra Files Ingnore
/wp-content/plugins